<div class="bg-stone-100">
  <nav class="p-4 max-w-7xl mx-auto flex items-center justify-between">
    <h2 class="font-bold text-xl">RDMS</h2>
    <button routerLink="/auth" class="btn btn-outline btn-primary">
      Get Started
    </button>
  </nav>
  <div class="hero min-h-[400px]">
    <div class="hero-content text-center">
      <div class="max-w-2xl">
        <h1 class="text-5xl font-bold">
          Research Development Management System
        </h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button routerLink="/auth" class="btn btn-primary">
          Let&apos;s Start
        </button>
      </div>
    </div>
  </div>
  <div class="max-w-7xl px-4 sm:px-0 mx-auto">
    <div class="mockup-window border bg-base-300">
      <img src="assets/hero.jpg" alt="hero" />
    </div>
  </div>
  <div class="max-w-7xl px-4 sm:px-0 mx-auto py-12">
    <div class="text-center max-w-2xl mx-auto">
      <h2 class="font-bold text-3xl">Our Services</h2>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
    </div>
    <div class="py-6 grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex flex-col items-center gap-4">
          <div
            class="flex items-center justify-center p-2 rounded-lg w-16 h-16 bg-secondary-content"
          >
            <ng-icon
              name="heroChartPie"
              class="text-4xl text-secondary"
            ></ng-icon>
          </div>
          <div class="text-center max-w-[300px]">
            <h5 class="text-xl font-medium">Statistics</h5>
            <p class="text-gray-400 text-sm">
              Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
              excepturi
            </p>
          </div>
        </div>
      </div>
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex flex-col items-center gap-4">
          <div
            class="flex items-center justify-center p-2 rounded-lg w-16 h-16 bg-primary-content"
          >
            <ng-icon
              name="heroChatBubbleLeftRight"
              class="text-4xl text-primary"
            ></ng-icon>
          </div>
          <div class="text-center max-w-[300px]">
            <h5 class="text-xl font-medium">Collaboration</h5>
            <p class="text-gray-400 text-sm">
              Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
              excepturi
            </p>
          </div>
        </div>
      </div>
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex flex-col items-center gap-4">
          <div
            class="flex items-center justify-center p-2 rounded-lg w-16 h-16 bg-teal-200"
          >
            <ng-icon
              name="heroListBullet"
              class="text-4xl text-teal-700"
            ></ng-icon>
          </div>
          <div class="text-center max-w-[300px]">
            <h5 class="text-xl font-medium">Project Management</h5>
            <p class="text-gray-400 text-sm">
              Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
              excepturi
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="p-10 bg-primary text-primary-content">
    <div class="max-w-7xl footer mx-auto">
      <div>
        <h1 class="text-6xl font-bold">RDMS</h1>
        <p>RDMS Ltd.<br />Providing reliable tech since 2023</p>
      </div>
      <div>
        <span class="footer-title">Services</span>
        <a class="link link-hover">Statistics</a>
        <a class="link link-hover">Collaboration</a>
        <a class="link link-hover">Project Management</a>
      </div>
      <div>
        <span class="footer-title">Company</span>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
      </div>
      <div>
        <span class="footer-title">Legal</span>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
      </div>
    </div>
  </footer>
</div>
