<div class="flex justify-center items-center h-[100vh]">
  <div>
    <h2 class="text-xl font-medium">Login</h2>
    <div class="p-8 shadow-xl rounded-lg bg-white flex flex-col gap-2 w-80">
      <label>Email</label>
      <input
        type="email"
        placeholder="Enter email address..."
        class="input input-bordered w-full"
      />
      <label>Password</label>
      <input
        type="password"
        class="input input-bordered w-full"
        placeholder="Enter password..."
      />
      <button class="btn btn-primary" routerLink="/dashboard">Login</button>
    </div>
    <p class="mt-1 text-right">
      Don&apos;t have an account?
      <button class="btn btn-link p-0">Sign up</button>
    </p>
  </div>
</div>
