<div class="flex h-full w-full">
  <div class="bg-primary gap-8 hidden sm:flex p-2 flex-col items-center">
    <div class="tooltip tooltip-right mt-16" data-tip="Dashboard">
      <button
        routerLink="/dashboard"
        class="btn btn-link text-white hover:text-gray-200 text-xl"
      >
        <ng-icon name="heroChartPieSolid"></ng-icon>
      </button>
    </div>
    <div class="tooltip tooltip-right" data-tip="Chat">
      <button
        routerLink="/chat"
        class="btn btn-link text-white hover:text-gray-200 text-xl"
      >
        <ng-icon name="heroChatBubbleLeftRightSolid"></ng-icon>
      </button>
    </div>
    <div class="tooltip tooltip-right" data-tip="Project Management">
      <button
        routerLink="/project-management"
        class="btn btn-link text-white hover:text-gray-200 text-xl"
      >
        <ng-icon name="heroListBulletSolid"></ng-icon>
      </button>
    </div>
  </div>
  <div class="w-full h-full flex flex-col">
    <div class="navbar flex justify-between sm:justify-end bg-primary">
      <div class="flex sm:hidden gap-2">
        <button
          routerLink="/dashboard"
          class="btn btn-link p-2 text-xs no-underline text-white"
        >
          Dashboard
        </button>
        <button
          routerLink="/chat"
          class="btn btn-link p-2 text-xs no-underline text-white"
        >
          Chat
        </button>
        <button
          routerLink="/project-management"
          class="btn btn-link p-2 text-xs no-underline text-white"
        >
          Management
        </button>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="avatar placeholder">
            <div class="bg-neutral-focus text-neutral-content rounded-full p-4">
              <ng-icon name="heroUser" class="text-xl"></ng-icon>
            </div>
          </div>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a onclick="logoutModal.showModal()">Logout</a></li>
        </ul>
      </div>
    </div>
    <router-outlet class=""></router-outlet>
  </div>
</div>
<dialog id="profileModal" class="modal">
  <form method="dialog" class="modal-box">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
      ✕
    </button>
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click on ✕ button to close</p>
  </form>
</dialog>

<dialog id="logoutModal" class="modal modal-bottom sm:modal-middle">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Logging out</h3>
    <p class="py-4">Are you sure you want to log out?</p>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn">Cancel</button>
      <button class="btn btn-primary" routerLink="/auth">Log out</button>
    </div>
  </form>
</dialog>
