<div class="flex h-full">
  <div class="bg-white shadow-lg h-full w-64 p-4">
    <div class="flex flex-col gap-2">
      <h2 class="font-bold text-sm">Project Participants</h2>
      <button
        class="flex w-full btn indicator p-2 items-center justify-start gap-2"
      >
        <span class="indicator-item badge badge-accent text-white badge-sm"
          >69</span
        >
        <div class="avatar offline placeholder">
          <div class="w-8 bg-neutral text-neutral-content rounded-full">
            <span>EJ</span>
          </div>
        </div>
        <p>Earvin James Dantes</p>
      </button>
      <button class="flex w-full btn p-2 items-center justify-start gap-2">
        <div class="avatar online placeholder">
          <div class="w-8 bg-neutral text-neutral-content rounded-full">
            <span>CS</span>
          </div>
        </div>
        <p>Charlene Saez</p>
      </button>
      <button class="flex w-full btn p-2 items-center justify-start gap-2">
        <div class="avatar online placeholder">
          <div class="w-8 bg-neutral text-neutral-content rounded-full">
            <span>PM</span>
          </div>
        </div>
        <p>Princess Marie Melo</p>
      </button>
    </div>
  </div>
  <div class="p-4 flex-grow">
    <div class="grid w-full h-full gap-4 grid-cols-3">
      <div class="flex flex-col h-full gap-2">
        <div class="bg-white rounded-lg shadow-md flex-grow">
          <div
            class="bg-neutral-focus p-2 rounded-t-md h-12 text-white flex items-center justify-between"
          >
            <div class="flex items-center gap-2">
              <div class="avatar placeholder">
                <div class="bg-neutral w-8 text-neutral-content rounded-full">
                  <span>EJ</span>
                </div>
              </div>
              <p>Earvin James Dantes</p>
            </div>
            <button class="btn btn-xs btn-neutral">X</button>
          </div>
        </div>
        <div class="join">
          <input
            class="input input-sm w-full input-bordered join-item"
            placeholder="Enter text..."
          />
          <button class="btn btn-sm text-xs btn-primary join-item">Send</button>
        </div>
      </div>
      <div class="flex flex-col h-full gap-2">
        <div class="bg-white rounded-lg shadow-md flex-grow">
          <div
            class="bg-neutral-focus p-2 rounded-t-md h-12 text-white flex items-center justify-between"
          >
            <div class="flex items-center gap-2">
              <div class="avatar placeholder">
                <div class="bg-neutral w-8 text-neutral-content rounded-full">
                  <span>CS</span>
                </div>
              </div>
              <p>Charlene Saez</p>
            </div>
            <button class="btn btn-xs btn-neutral">X</button>
          </div>
        </div>
        <div class="join">
          <input
            class="input input-sm w-full input-bordered join-item"
            placeholder="Enter text..."
          />
          <button class="btn btn-sm text-xs btn-primary join-item">Send</button>
        </div>
      </div>
      <div class="flex flex-col h-full gap-2">
        <div class="bg-white rounded-lg shadow-md flex-grow">
          <div
            class="bg-neutral-focus p-2 rounded-t-md h-12 text-white flex items-center justify-between"
          >
            <div class="flex items-center gap-2">
              <div class="avatar placeholder">
                <div class="bg-neutral w-8 text-neutral-content rounded-full">
                  <span>PM</span>
                </div>
              </div>
              <p>Princess Marie Melo</p>
            </div>
            <button class="btn btn-xs btn-neutral">X</button>
          </div>
        </div>
        <div class="join">
          <input
            class="input input-sm w-full input-bordered join-item"
            placeholder="Enter text..."
          />
          <button class="btn btn-sm text-xs btn-primary join-item">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
