<div class="grid gap-4 grid-cols-1 sm:grid-cols-6 p-4 bg-stone-50">
  <div
    class="p-2 shadow-lg col-span-2 bg-white rounded-lg card flex items-center justify-center"
  >
    <div
      class="radial-progress text-primary text-5xl"
      style="--value: 60; --size: 10rem; --thickness: 1rem"
    >
      60%
    </div>
    <div class="stat-title">Progress of Project</div>
  </div>
  <div
    class="p-2 shadow-lg col-span-2 bg-white rounded-lg card flex text-center justify-center"
  >
    <div class="stat">
      <div class="stat-title">Total Completed Tasks</div>
      <div class="stat-value text-primary">12 Tasks</div>
      <div class="stat-desc">out of 20 tasks for the Project</div>
    </div>
  </div>
  <div class="p-2 shadow-lg col-span-2 bg-white rounded-lg">
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Group Members</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>1</th>
            <td>Earvin James</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Jerico Niño</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Charlene Marie</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="p-2 shadow-lg col-span-3 bg-white rounded-lg">
    <div class="overflow-x-auto h-96">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Completed Tasks</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>1</th>
            <td>Purpose and Goals</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td>Market Research</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td>Website Structure</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>4</th>
            <td>Sitemap</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>5</th>
            <td>Wireframe</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>6</th>
            <td>Domain Name and Hosting</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>7</th>
            <td>Website Layout</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>8</th>
            <td>Website Content</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>9</th>
            <td>Web Development Framework</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>10</th>
            <td>Website Development Environment</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>11</th>
            <td>Website Code</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <th>12</th>
            <td>Test Website</td>
            <td>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l6 6 9-13.5"
                />
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="p-2 shadow-lg col-span-3 bg-white rounded-lg flex flex-col h-full"
  >
    <div class="overflow-x-auto h-96">
      <table class="table table-pin-rows">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th>Pending Task</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>1</th>
            <td>Optimize Search Engines</td>
            <td>94% Done</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Website Analytics Software</td>
            <td>80% Done</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Vulnerabilities and Security measure</td>
            <td>54% Done</td>
          </tr>
          <tr>
            <th>4</th>
            <td>Publish Website</td>
            <td>37% Done</td>
          </tr>
          <tr>
            <th>5</th>
            <td>Advertise</td>
            <td>22% Done</td>
          </tr>
          <tr>
            <th>6</th>
            <td>Setup Socmed Accounts</td>
            <td>10% Done</td>
          </tr>
          <tr>
            <th>7</th>
            <td>Promotion of Website</td>
            <td>10% Done</td>
          </tr>
          <tr>
            <th>8</th>
            <td>Update Security Patches</td>
            <td>10% Done</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
